doctype html
html(lang="en")
    head
        link(href='/styles.css', rel='stylesheet')
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1 Builds Page
        h3 Build Information
        -const buildsList = builds
        -console.log(buildsList)
        for build, i in buildsList
            h3= "Build Number " + (i+1)
            p= build.name 
            p= build.Purpose 
            p= build.Style
            br
        a(href="/")
            button home