doctype html
html(lang="en")
    head
        link(href='/styles.css', rel='stylesheet')
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My Poe Build Tracker
    body 
        h1 Poe Build Tracker
        p This is a simple demonstration of an Express Server Application with no front end.
        p The idea is that you can look at different builds, add your own, and different users can log information
        p There is dummy data in a folder in my express application, you can access that information with get requests.  There is a put request that is set up and returns your request in a json format.  The put and delete requests have been added, but not added to dummy buttons in pug files.
        p I am considering doing something similar for my final project.  In the game you can make custom hideouts, and import other peoples.  I could set up a app to organize, store, and share hideouts.
        p This is a simple version of the extensive site that uses poe's open api to display massive build information,
            a(href="https://poe.ninja/builds/necropolis", target="_blank") PoeNinja.
        br
        br
        
        a(href="/builds")
            button Builds
        a(href="/submit")
            button Submit your own
        a(href="/players")
            button Players
        br
        br
        h2 Login to account
        form(action="/", method="post")
            br
            label(name="siteUserName") This Site Username: 
            input(type="text", name="siteUserName")
            br
            br
            label(name="password") This Site Password: 
            input(type="text", name="password")
            br
            br
            label(name="PoeUserName") Poe Username: 
            input(type="text", name="PoeUserName")
            br
            br
            label(name="playTimeHrs") Poe Time Played, in Hours: 
            input(type="number", name="playTimeHrs")
            br
            br
            label(name="AccountPublic") Is your POE Account listed as Public?:
            input(type="checkbox" name="AccountPublic" checked)
            br
            br
            input(type="submit" name="submit" value="Submit")
        br
        br