doctype html
html(lang="en")
    head
        link(href='/styles.css', rel='stylesheet')
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Test
    body 
        h1 This is a test
        p Now lets have a think of what I want to actually build
        ul
            li build tracker for poe?
            li climbing logger?
            li medication tracker?
            li some sort of discussion board?
            

        h3 So if I do a poe build tracking program, what pieces of information should i set up?
        ul
            li build information. I would put the information json in the data folder, then have a view and a route 
            li comments. I could have comments associated with the build, and set up a way to load them in when you select a certain build 
            li users? Maybe I could set up a space where you can set up users, so users can input their own builds and comment on others?

        p This is a simple version of poeNinja.  The extensive site that uses poe's open api to build massive build information 
        a(href="https://poe.ninja/builds/necropolis", target="_blank") PoeNinja