doctype html
html(lang="en")
    head
        link(href='/styles.css', rel='stylesheet')
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My Poe Build Tracker
    body 
        h1 Poe Build Tracker
        h3 This site includes:
        ul
            li Track your different builds using get requests on a data folder
            li Log yourself in, so you can also see information on other peoples builds
        p This is a simple demonstration of an Express Server Application with no front end.
        p I am considering doing something similar for my final project.  In the game you can make custom hideouts, and import other peoples.  I could set up a app to organize, store, and share hideouts.
        p This is a simple version of the extensive site that uses poe's open api to display massive build information,
            a(href="https://poe.ninja/builds/necropolis", target="_blank") PoeNinja.
        br
        br
        
        a(href="/builds")
            button Builds
        a(href="/submit")
            button Submit your own
        br
        br
        h2 Login to account
        form(action="/", method="post")
            br
            label(name="siteUserName") This Site Username: 
            input(type="text", name="siteUserName")
            br
            br
            label(name="password") This Site Password: 
            input(type="text", name="password")
            br
            br
            label(name="PoeUserName") Poe Username: 
            input(type="text", name="PoeUserName")
            br
            br
            label(name="playTimeHrs") Poe Time Played, in Hours: 
            input(type="number", name="playTimeHrs")
            br
            br
            label(name="AccountPublic") Is your POE Account listed as Public?:
            input(type="checkbox" name="AccountPublic" checked)
            br
            br
            input(type="submit" name="submit" value="Submit")
        br
        br