doctype html
html(lang="en")
    head
        link(href='/styles.css', rel='stylesheet')
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My Poe Build Tracker
    body 
        h1 Submit your build on this page
        p I am considering doing something similar for my final project.  In the game you can make custom hideouts, and import other peoples.  I could set up a app to organize, store, and share hideouts.
        p This is a simple version of the extensive site that uses poe's open api to display massive build information,
            a(href="https://poe.ninja/builds/necropolis", target="_blank") PoeNinja.
        br
        form(action="/submit", method="post")
            input(type="submit", value="bonk")
        br
        a(href="/")
            button Home
        a(href="/builds")
            button Build list